node_red1
[{"id":"353bf7bf.f2a508","type":"function","z":"18deb2a2.806f5d","name":"어두우면켜짐","func":"var actions = msg.actions;\nvar action = actions[0].parameters.LEDOn;\nif(action === true)\n{\n    msg.payload = true;\n}\nelse\n{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["1260c1f.2ea593e","679e6179.fec5e"]]},{"id":"450348f3.7e5828","type":"artik cloud in","z":"18deb2a2.806f5d","name":"HeaterCtl","uid":"37360ae8f7094a0e97e29fd0305261ed","deviceid":"37360ae8f7094a0e97e29fd0305261ed","token":"__PWRD__","enableMessage":false,"enableAction":true,"x":120,"y":520,"wires":[["32cc379b.77b498","cd9ff756.c51848"]]},{"id":"ff005efc.957db","type":"function","z":"18deb2a2.806f5d","name":"온도낮으면히터","func":"var actions = msg.actions;\nvar action = actions[0].parameters;\nif(action.heaterOn === true)\n{\n    msg.payload = true;\n}\nelse\n{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["52d1dc23.9e8084","7a7b421e.76cddc"]]},{"id":"b46a1214.2af61","type":"function","z":"18deb2a2.806f5d","name":"온도높으면에어컨","func":"var actions = msg.actions;\nvar action = actions[0].parameters.airconOn;\nif(action === true)\n{\n    msg.payload = true;\n}\nelse\n{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":660,"wires":[["8a33b445.ee60a","8ccac419.f65898"]]},{"id":"52d1dc23.9e8084","type":"debug","z":"18deb2a2.806f5d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":260,"wires":[]},{"id":"7a7b421e.76cddc","type":"arduino out","z":"18deb2a2.806f5d","name":"빨간불","pin":"8","state":"OUTPUT","arduino":"f3b6cfd0.786d28","x":830,"y":360,"wires":[]},{"id":"1260c1f.2ea593e","type":"arduino out","z":"18deb2a2.806f5d","name":"초록불","pin":"9","state":"OUTPUT","arduino":"f3b6cfd0.786d28","x":830,"y":520,"wires":[]},{"id":"8a33b445.ee60a","type":"arduino out","z":"18deb2a2.806f5d","name":"파란불","pin":"10","state":"OUTPUT","arduino":"f3b6cfd0.786d28","x":850,"y":660,"wires":[]},{"id":"679e6179.fec5e","type":"debug","z":"18deb2a2.806f5d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":420,"wires":[]},{"id":"8ccac419.f65898","type":"debug","z":"18deb2a2.806f5d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":600,"wires":[]},{"id":"cd9ff756.c51848","type":"switch","z":"18deb2a2.806f5d","name":"","property":"actions[0].name","propertyType":"msg","rules":[{"t":"eq","v":"heaterCtl","vt":"str"},{"t":"eq","v":"LEDCtl","vt":"str"},{"t":"eq","v":"airconCtl","vt":"str"},{"t":"eq","v":"motorCtl","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":310,"y":520,"wires":[["ff005efc.957db"],["353bf7bf.f2a508"],["b46a1214.2af61"],["eb8fb248.1a6b"]]},{"id":"32cc379b.77b498","type":"debug","z":"18deb2a2.806f5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":360,"wires":[]},{"id":"eb8fb248.1a6b","type":"function","z":"18deb2a2.806f5d","name":"모터","func":"var actions = msg.actions;\nvar action = actions[0].parameters.COUNT;\nmsg.payload = true;\n\nif(action === 1)\n{\n    return [msg, null, null];\n}\nelse if (action === 2)\n{\n    return [null, msg, null];\n}\nelse if (action === 3)\n{\n    return [null, null, msg];\n}\nelse\n{\n    return [null, null, null];\n}","outputs":3,"noerr":0,"x":550,"y":740,"wires":[["18ac8455.dece5c","60dbfca8.c2e544"],["dee185d0.11e908"],["c0729f9e.d668e"]]},{"id":"58a60859.e3c948","type":"arduino out","z":"18deb2a2.806f5d","name":"모터","pin":"11","state":"OUTPUT","arduino":"f3b6cfd0.786d28","x":850,"y":740,"wires":[]},{"id":"18ac8455.dece5c","type":"trigger","z":"18deb2a2.806f5d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"1portion","x":700,"y":700,"wires":[["58a60859.e3c948"]]},{"id":"dee185d0.11e908","type":"trigger","z":"18deb2a2.806f5d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"2portion","x":700,"y":740,"wires":[["58a60859.e3c948"]]},{"id":"c0729f9e.d668e","type":"trigger","z":"18deb2a2.806f5d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"3portion","x":700,"y":780,"wires":[["58a60859.e3c948","d028e04f.4a496"]]},{"id":"d028e04f.4a496","type":"debug","z":"18deb2a2.806f5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":800,"wires":[]},{"id":"60dbfca8.c2e544","type":"debug","z":"18deb2a2.806f5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":800,"wires":[]},{"id":"f3b6cfd0.786d28","type":"arduino-board","z":"","device":"COM6"}]
